logs
project/project
project/target
target
tmp
.history
dist
.classpath
.project
.settings
.idea/
.idea_modules
*.iml
*.sublime-*
.tags
.cache
.target/
bin/
.sass-cache/
.bundle/
Gemfile.lock
node_modules/
public/javascripts/compiled
public/stylesheets/compiled
conf/local.conf
vendor
conf/evolutions
conf/local-ngrok.conf